<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliotecaUTN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BibliotecaUTN.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">BibliotecaUTN</a>
                
            <ul class="headerBtns">
                <li>
                    <a asp-area="" asp-controller="Libro" asp-action="Index">Libros</a> @*asp-controller le da el contexto del controler para acceder a su view*@
                </li>
                <li>
                    <a asp-area="" asp-controller="Autor" asp-action="Index">Autores</a> @*Borramos text-dark*@
                </li>
                <li>
                    <a asp-area="" asp-controller="Editorial" asp-action="Index">Editoriales</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Genero" asp-action="Index">Géneros</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Ubicacion" asp-action="Index">Ubicaciones</a>
                </li>
            </ul>              
        </nav>
    </header>
    <div id="Contenedor">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="container">
            &copy; 2025 - BibliotecaUTN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
