html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* https://paletasdecolores.com/paleta-de-colores-4390/ - paleta de colores*/

:root {
    --ocaso-oscuro-color: #5B1C02;
    --ocaso-medio-color: #D25B01;
    --ocaso-claro-color: #EAA724;
    --ocaso-claro-1-color: #f0b441;
    --oscuro-text-color: #220C02;
}

/*---------------------------- Shared/_Layout ----------------------------*/

body {
    margin-bottom: 60px;
    background-color: var(--ocaso-medio-color);
}

#Menu, #Menu .navbar-brand {
    background-color: var(--ocaso-oscuro-color);
    font-weight: 900;
    color: var(--ocaso-claro-color);
}

#MenuBtns {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    padding-left: 25px;
}
    #MenuBtns li {
        display: inline-block;
        padding: 0px 10px;
        background-color: var(--ocaso-claro-color);
        color: var(--oscuro-text-color) !important;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
        #MenuBtns li:hover {
            background-color: var(--ocaso-medio-color);
        }

#Pie {
    background-color: var(--ocaso-oscuro-color);
}

/*---------------------------- CREATE/DETAILS/DELETE/EDIT ----------------------------*/

#controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    color: var(--ocaso-oscuro-color);
}

#controllers-contenedor {
    background-color: var(--ocaso-claro-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

#controllers-titulo {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

#controllers-btns {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
    #controllers-btns input[type="submit"],
    #controllers-btns a {
        display: inline-block;
        padding: 8px 16px;
        font-size: 1rem;
        background-color: var(--ocaso-medio-color);
        color: var(--oscuro-text-color);
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        min-width: 90px;
        text-align: center;
        border: none;
    }
        #controllers-btns input[type="submit"]:hover,
        #controllers-btns a:hover {
            background-color: var(--ocaso-claro-color);
        }

/*---------------------------- DETAILS/DELETE ----------------------------*/

#delete-btn {
    background-color: #d11717 !important;
    color: var(--ocaso-claro-1-color) !important;
}
    #delete-btn:hover {
        background-color: #d60000 !important;
    }

#details-delete-contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    #details-delete-contenido dt {
        font-weight: bold;
        white-space: nowrap
    }

    #details-delete-contenido dd {
        margin: 0;
        background-color: var(--ocaso-claro-1-color);
        border-radius: 8px;
    }

/*---------------------------- CREATE/EDIT ----------------------------*/

#create-edit-contenido {
}
    #create-edit-contenido label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    #create-edit-contenido .form-control {
        background-color: var(--ocaso-claro-1-color);
        color: var(--oscuro-text-color);
        border: none;
    }
        #create-edit-contenido .form-control:focus {
            background-color: var(--ocaso-claro-1-color);
            border: 2px solid var(--ocaso-oscuro-color);
            box-shadow: 0 0 5px var(--ocaso-medio-color);
        }



